<form method="POST" action="/prehistoric">
    <label for="prehistoricType">Type</label>
    <input id="prehistoricType" type="text" name="type">
  
    <label for="prehistoricName">Name</label>
    <input id="prehistoricName" type="text" name="name">
  
    <input type="submit">
  </form>